# GEMINI_API_KEY: Required for Gemini AI API calls.
GEMINI_API_KEY="AIzaSyB8PP3Xzyvz-V_3khv-9Xxu-X-xYkMSvxk"

# SUPABASE CONFIG
VITE_SUPABASE_URL="https://jwutiebpfauwzzltwgbb.supabase.co"
VITE_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imp3dXRpZWJwZmF1d3p6bHR3Z2JiIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzU4MTYzOTIsImV4cCI6MjA5MTM5MjM5Mn0.KtzdQn2j1z4ugGFIyZgFDBfO--38FTBeKLT_RXMkflU"

# IMGBB CONFIG
VITE_IMGBB_API_KEY=""

# OPENROUTER CONFIG (OpenRouter API Key para MiniMax)
VITE_OPENROUTER_API_KEY=""

# APP_URL: The URL where this applet is hosted.
APP_URL="http://localhost:3000/"
